.signup-curp-method-container{
    display: flex;
    flex-direction: column;

    gap: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
}

.signup-curp-method-container h3{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: calc(var(--heading-text) + 5px);
}

.signup-curp-method-container .input-container{
    flex-direction: column;
    gap: 10px;
}

.signup-curp-method-container .input-label{
    font-size: calc(var(--caption-text) + 0px);
    padding-left: 10px;
}

.signup-curp-method-container .input-element{
    padding: 0px;
    font-size: calc(var(--regular-text) + 3px);
    height: calc(var(--regular-text) + 25px);
    width:calc(var(--regular-text) + 215px);
    padding-left: 10px;
    border-radius: 10px;
}

.signup-curp-method-button-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}