.button{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: rgba(228, 228, 228, 0.75); 
    border-radius: 12px;
    border: none;
    font-size: 12px;
    padding: 12px 36px;
    cursor: pointer;
}

.button:hover{
    border-color: rgb(125, 125, 125);
}

.button-confirmation{
    background-color: rgb(0, 4, 255); 
    color: white;
}

.button-cancelation{
    background-color: rgb(255, 0, 0); 
    color: white;
}