/* Main/Geberal SignUp Styles */

.signup-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 70%;
  align-items: center;
  background-color: rgba(var(--background-color-rgb), 0.10);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-top-container{
  display: flex;
  justify-content: flex-end;
  height: 10%;
  width: 100%;
}

.signup-main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.signup-bottom-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 7%;
  width: 100%;
}

.signup-bottom-container-centered{
  justify-content: center;
}

.signup-navigation-button {
  width: calc(var(--heading-text) + 150px);
  height: calc(var(--heading-text) + 40px);
  background-color: #0158d1;
  color: white;
  border-radius: 25px;
  border: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--heading-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.signup-navigation-button-back {
  background-color: var(--primary-color);
  color: var(--regular-text-color);
  width: calc(var(--heading-text) + 80px);
  height: calc(var(--heading-text) + 20px);
  font-size: var(--caption-text);
  border-radius: 15px;
  border: 1px solid rgba(var(--secondary-text-color-rgb), 0.05);
  box-shadow: none;
}

.signup-navigation-button-next {
  
}


.signup-button-next{
  width: calc(var(--heading-text) + 140px);
  height: calc(var(--heading-text) + 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--heading-text);
  gap: 10px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 25px;
  box-shadow: none;
  background-color: #0158d1;
  color: white;
}

.signup-button-back{
  width: calc(var(--heading-text) + 140px);
  height: calc(var(--heading-text) + 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--heading-text);
  gap: 10px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 25px;
  box-shadow: none;
  background-color: var(--secondary-color);
  color: var(--regular-text-color);
}

.signup-info-caption {
  font-size: var(--caption-text);
  margin: 0;
}

.signup-info-caption-error{
  color: red;
}

.signup-header-text{ /* h1 */
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: calc(var(--heading-text) + 40px);
  /* padding: 0px;
  margin: 0px; */
}

.signup-header-steps-text{ /* h2 */
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: calc(var(--heading-text) + 10px);
  /* padding: 0px;
  margin: 0px; */
}

.signup-header-substeps-text{ /* h3 */
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: calc(var(--heading-text) + 5px);
  /* padding: 0px;
  margin: 0px; */
}

.signup-steps-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* SignUp Welcome Styles */

.welcomeMessage-container{
  /* justify-content: space-evenly; */
}

/* SignUp Method Styles */

.signup-method-container{
    /* gap: 40px;
    justify-content: space-between; */
}

.signup-method-container .button {
    width: fit-content;
    min-width: 200px;
}

.signup-method-container .input-container{
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 480px;
}

.signup-method-container .input-label{
    font-size: calc(var(--caption-text) + 0px);
    padding: 0px 10px;
}

.signup-method-container .input-element{
    padding: 0px;
    font-size: calc(var(--regular-text) + 3px);
    height: calc(var(--regular-text) + 25px);
    padding: 0px 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.signup-method-options-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 70%;
    align-items: center;
}

.signup-any-method-container{
    /* justify-content: space-between;
    gap: 20px; */
}

.signup-any-method-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* SignUp CurpMethod Styles */


/* SignUp TelMethod Styles */


/* SignUp FormData Styles */

.form-data-container{

}

.form-data-container .runner-fields{
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  align-items: center;
  /* justify-content: start; */
  gap: 15px;
}

.runner-fields .input-container{
  width: 100%;
  justify-content: space-around;
  gap: 15px;
}

.runner-fields .input-label{
  margin: 0;
  width: 30%;
  font-size: var(--heading-text);
}

.runner-fields .input-element{
  width: 70%;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
  padding: 0;
  text-indent: 4px;
  font-size: var(--heading-text);
}

.runner-fields .dropdown-container{
  width: 100%;
  justify-content: space-between;
  gap: 15px;
}

.runner-fields .dropdown-label{
  margin: 0;
  width: 30%;
  font-size: var(--heading-text);
}

.runner-fields .dropdown-element{
  width: 70%;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
  padding: 0;
  text-indent: 0px;
  font-size: var(--heading-text);
  height: calc(var(--heading-text) + 5px);
}

@media (max-width: 480px) {

  .signup-container{
    width: 100%;
    height: 100%;
  }

.signup-top-container{
  display: flex;
  justify-content: flex-end;
  height: 5%;
  width: 100%;
}

.signup-main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88%;
  width: 95%;
}

.signup-bottom-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 7%;
  width: 100%;
}

.signup-method-options-container{
   justify-content: center;
}

.form-data-container .runner-fields{
  width: 100%;
}

}