.participants-group{
	margin-bottom: 18px;
}

.participants-group-title{
	color: var(--regular-text-color);
	font-size: var(--caption-text);
	margin: 12px 0 8px;
	padding-left: 24px;
    border-top: 1px solid rgba(var(--secondary-text-color-rgb), 0.3);
    border-radius: 20px;
    padding: 10px;
}

.runner-section {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.context-menu{
  position: fixed;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--heading-text)*2.4);
  z-index: 1000;
  background: var(--secondary-color);
  border: 1px solid rgba(var(--secondary-text-color-rgb), 0.3);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.context-menu-edit{
  font-size: var(--caption-text);
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%; 
  text-align: left; 
  background: none; 
  border: none; 
  cursor: pointer;
  padding: 5px 5px 5px 10px;
}

.context-menu-delete{
  font-size: var(--caption-text);
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%; 
  text-align: left; 
  background: none; 
  border: none; 
  cursor: pointer; 
  color: red;
  padding: 5px 5px 5px 10px;
}

.context-menu-edit:hover,
.context-menu-delete:hover {
  background-color: rgba(var(--secondary-text-color-rgb), 0.2);
  border-radius: 5px;
}

.edit-actions-menu{
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1000; 
  gap: 10px;  
  position: fixed;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--heading-text)*2.4);
  z-index: 1000;
  background: var(--secondary-color);
  border: 1px solid rgba(var(--secondary-text-color-rgb), 0.3);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
@media (max-width: 480px) {
    .runner-section {
        top: unset;
        bottom: 20px;
        right: 18%;
    }
}