.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: var(--font-family);
  padding: 20px 1%;
  display: flex;
  flex-direction: row;
  background-color: rgba(var(--background-color-rgb), 0.65);
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
}

.navbar section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.navbar-items{
  height: calc(var(--regular-text) + 15px);
  background-color: var(--primary-color);
  border-radius: 50px;
  border: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: var(--regular-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.navbar-items a{
  text-decoration: none;
  color: var(--regular-text-color);
}

.navbar-item{
  height: 100%;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
}

/* .navbar-item:hover{
    background-color: var(--secondary-color);
} */

.navbar-item.active{
    background-color: var(--secondary-color);
}

.navbar-button{
  position:relative;
  width: calc(var(--regular-text) + 15px);
  height: calc(var(--regular-text) + 15px);
  background-color: var(--primary-color);
  color: var(--regular-text-color);
  border-radius: 50%;
  border: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--caption-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.running-container{
  border-radius: 25px;
  gap: 10px;
  transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.running-container.expanded{
  width: auto;
  gap: 15px;
  padding-left: 15px;
  -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: scale-up-hor-center 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.running-container.collapsed{
  /* animation: scale-down-hor-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
  transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  width: calc(var(--regular-text) + 180px);
}

.running-button{
  position:relative;
  height: calc(var(--regular-text) + 15px);
  color: var(--regular-text-color);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--caption-text);
  width: calc(var(--regular-text) + 180px);
  border-radius: 25px;
  gap: 10px;
  /* transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000); */
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.running-button span{
  font-family: var(--font-family);
  font-size: var(--caption-text);
  color: var(--regular-text-color);
}

.add-prebutton{

}

.add-postbutton{
  width: calc(var(--regular-text) + 80px);
  background-color: #0158d1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.add-postbutton span{
  color: var(--background-color);
}

.runner-fields{
  display: flex;
  gap: 10px;
  align-items: center;
  -webkit-animation: fade-in-fwd 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-fwd 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.running-icons-container{
  position: relative;
  width: calc(var(--regular-text) - 3px);
  height: calc(var(--regular-text) - 3px); 
}

.running-icon{  
    position: absolute;
    font-size: var(--caption-text);
    left: 0;    
}

.plus-icon{
    position: absolute;
    font-size: calc(var(--regular-text) - 8px);
    top: -3px;
    right: -6px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes scale-down-hor-center {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.4);
  }
}
