.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: var(--font-family);
  padding: 20px 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(var(--background-color-rgb), 0.65);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
}

.navbar section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.navbar-items{
  height: calc(var(--regular-text) + 15px);
  background-color: var(--primary-color);
  border-radius: 50px;
  border: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: var(--regular-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.navbar-items a{
  text-decoration: none;
  color: var(--regular-text-color);
}

.navbar-item{
  height: 100%;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
}

.navbar-item a{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.navbar-item-icon{
  display: none;
}

@media (max-width: 820px) {
  .navbar-items{
    height: calc(var(--regular-text) + 30px);
    position: absolute;
    bottom: 0px;
    display: flex;
  }

  .navbar-item-icon{
    display: flex;
  }

  .navbar-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }
}

@media (max-width: 480px) {
  .navbar-item span{
    display: flex;
  }
}
/* .navbar-item:hover{
    background-color: var(--secondary-color);
} */

.navbar-item.active{
    background-color: var(--secondary-color);
}

.navbar-button{
  position:relative;
  width: calc(var(--regular-text) + 15px);
  height: calc(var(--regular-text) + 15px);
  background-color: var(--primary-color);
  color: var(--regular-text-color);
  border-radius: 50%;
  border: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--caption-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.running-container{
  border-radius: 25px;
}