.running-container{
  border-radius: 25px;
  gap: 10px;
  transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.running-container.expanded{
  width: auto;
  gap: 15px;
  padding-left: 15px;
  -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: scale-up-hor-center 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.running-container.collapsed{
  /* animation: scale-down-hor-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
  transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  width: calc(var(--regular-text) + 180px);
}

.running-button{
  position:relative;
  height: calc(var(--regular-text) + 15px);
  color: var(--regular-text-color);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--caption-text);
  width: calc(var(--regular-text) + 180px);
  border-radius: 25px;
  gap: 10px;
  /* transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000); */
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.running-text-button{
  font-family: var(--font-family);
  font-size: var(--caption-text);
  color: var(--regular-text-color);
}

.add-prebutton{

}

.add-postbutton{
  width: calc(var(--regular-text) + 80px);
  background-color: #0158d1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.running-text-button .fadeit{
  /* color: var(--background-color); */
  -webkit-animation: fade-out 0.2s ease-out both;
	animation: fade-out 0.2s ease-out both;
}

.runner-fields{
  display: flex;
  gap: 10px;
  align-items: center;
  -webkit-animation: fade-in-fwd 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-fwd 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.running-icons-container{
  position: relative;
  width: calc(var(--regular-text) - 3px);
  height: calc(var(--regular-text) - 3px); 
}

.running-icon{  
    position: absolute;
    font-size: var(--caption-text);
    left: 0;    
}

.plus-icon{
    position: absolute;
    font-size: calc(var(--regular-text) - 8px);
    top: -3px;
    right: -6px;
}



@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes scale-down-hor-center {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.4);
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
