.runner-button-container{
  color: var(--regular-text-color);
  border: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--caption-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: auto;
  height: auto;
  border-radius: 25px;
  gap: 10px;
  background-color: rgba(var(--background-color-rgb), 0.98);
  overflow: hidden;

  --runner-collapsed-width: calc(var(--regular-text) + 180px);
  --runner-collapsed-height: calc(var(--regular-text) + 15px);
}

.runner-button-container.is-collapsed{
  width: var(--runner-collapsed-width);
  height: var(--runner-collapsed-height);
}

.runner-button-container.is-expanded{
  width: calc(var(--runner-collapsed-width) + 120px);
  height: calc(var(--runner-collapsed-height) + 380px);
  /* justify-content: flex-start; */
}

.runner-button-content-container{
  width: 100%;
}

.runner-button-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.running-button{
  height: calc(var(--regular-text) + 15px);
  color: var(--regular-text-color);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--caption-text);
  width: calc(var(--regular-text) + 180px);
  border-radius: 25px;
  gap: 10px;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.add-runner-button{
  margin-top: 10px;
  width: calc(var(--regular-text) + 80px);
  background-color: #0158d1;
  color: white;
}

.runner-form-container{
    width: 100%;
    display: none;
    height: auto;
}

.runner-form-container .runner-fields{
  gap: 25px;
  align-items: center;
  justify-content: start;
  /* padding: 20px; */
  margin-top: 30px;
}

.runner-button-container.is-expanded .runner-form-container{
  display: flex;
}

.runner-button-content {
    display: flex;
    cursor: pointer;
}

.runner-button-content.is-collapsed{
    flex-direction: row;
}

.runner-button-content.is-expanded{
    flex-direction: column;
}

.running-icons{
  position: relative;
  width: 10%;
  justify-content: center;
  /* inset: 0; */
}

.running-icon{
  position: absolute;
  font-size: var(--caption-text);
  left: -8px;
  top: -7px;
}

.plus-icon{
  position: absolute;
  font-size: calc(var(--regular-text) - 8px);
  top: -12px;
  right: 3px;
}

.arrow-icon{
  font-size: var(--caption-text);
}

@media (max-width: 480px) {
  

  .runner-button-container{
    --runner-collapsed-width: calc(var(--heading-text) + 225px);
    --runner-collapsed-width: 90dvw;
    
    --runner-collapsed-height: calc(var(--heading-text) + 40px);
  }

  .runner-button-container.is-expanded{
  /* width: calc(var(--runner-collapsed-width) + 110px); */
  width: 95vw;
  height: 85dvh;
  /* height: calc(var(--runner-collapsed-height) + 445px); */
  /* justify-content: flex-start; */
}

  .runner-form-container .input-label, .add-runner-button, .runner-button-text, .runner-form-container .dropdown-label, .runner-form-container .input-element, .runner-form-container .dropdown-element{
    font-size: var(--heading-text); 
  }

  .runner-form-container .runner-fields{
  gap: 35px;
  margin-top: 20px;
}


.add-runner-button{
  margin-top: 5px;
  width: calc(var(--heading-text) + 140px);
  height: calc(var(--heading-text) + 35px);
}


  .arrow-icon{
    font-size: calc(var(--heading-text) + 10px); 
  }

  .running-icon, .plus-icon, .running-text-button{
    font-size: calc(var(--heading-text) - 3px); 
  }

  .plus-icon{
    top: -17px;
    right: 4px;
  }
}