.runner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.runner-container-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.running-container{
  position: absolute;
  /* top: calc(100% + 8px); */
  left: 0;
  z-index: 101;
  color: var(--regular-text-color);
  border: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--caption-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: auto;
  height: auto;
  border-radius: 25px;
  gap: 10px;
  flex-direction: column;
  background-color: rgba(var(--background-color-rgb), 0.98);
  --runner-collapsed-width: calc(var(--regular-text) + 180px);
  --runner-collapsed-height: calc(var(--regular-text) + 15px);
}

.running-container.is-collapsed{
  width: var(--runner-collapsed-width);
  height: var(--runner-collapsed-height);
}

.running-container.is-expanded{
  width: auto;
  height: auto;
  top: calc(100% + 8px);
  left: unset;
}

.running-button{
  position:relative;
  height: calc(var(--regular-text) + 15px);
  color: var(--regular-text-color);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--caption-text);
  width: calc(var(--regular-text) + 180px);
  border-radius: 25px;
  gap: 10px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  z-index: 102;
}

.running-text-button{
  font-family: var(--font-family);
  font-size: var(--caption-text);
  color: var(--regular-text-color);
}

.add-runner-button{
  margin-top: 10px;
  width: calc(var(--regular-text) + 80px);
  background-color: #0158d1;
  color: white;
}

.running-icons-container{
  position: relative;
  width: calc(var(--regular-text) - 3px);
  height: calc(var(--regular-text) - 3px);
}

.running-icons{
  position: absolute;
  inset: 0;
}

.running-icons.running-icons-expanded{
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon{
  font-size: var(--caption-text);
}

.running-icon{
  position: absolute;
  font-size: var(--caption-text);
  left: 0;
}

.plus-icon{
  position: absolute;
  font-size: calc(var(--regular-text) - 8px);
  top: -3px;
  right: -6px;
}

.window-content {
  background-color: transparent;
  width: 250px;
  height: 250px;
  z-index: 102;
  gap: 15px;
  padding: 5px 15px 15px 15px;
  align-items: center;
  display: none;
  opacity: 0;
}

@media (max-width: 820px) {
  
}

@media (max-width: 480px) {
  .running-button{
    height: calc(var(--heading-text) + 25px);
  }

  .running-container{
    /* top: unset;
    bottom: calc(100% + 8px); */
    /* width: calc(var(--runner-collapsed-width) + 40px);
    height: calc(var(--runner-collapsed-height) + 10px); */
  }

  .running-container.is-collapsed.is-mobile{
    /* width: calc(var(--runner-collapsed-width) + 40px); */
    height: calc(var(--runner-collapsed-height) + 30px);
    /* width: calc(var(--runner-collapsed-width) + 60px); */
  }

  .running-container.is-expanded.is-mobile{
    top: unset;
    bottom: calc(100% - 35px);
    height: calc(var(--runner-collapsed-height) + 450px);
  }

  .window-content {
    width: 320px;
    height: 350px;
    padding: 0px 15px 10px 15px;
  }

  .add-runner-button{
    font-size: var(--heading-text);
    margin-top: 10px;
    width: calc(var(--heading-text) + 130px);
    height: calc(var(--heading-text) + 25px);
  }

  .runner-fields{
    gap: 30px;
  }

  .runner-fields .input-label, .runner-fields .dropdown-label, .runner-fields .input-element, .runner-fields .dropdown-element{
    font-size: var(--heading-text); 
  }

  .arrow-icon{
    font-size: calc(var(--heading-text) + 130px); 
  }

  .running-icon, .plus-icon, .running-text-button{
    font-size: calc(var(--heading-text) - 3px); 
  }

  .running-icon{
    left: -5px;
    top: -1px;
  }

  .plus-icon{
    top: -12px;
    right: -7px;
  }
}