
/* .search-bar{
  width: calc(var(--regular-text) + 180px);
  border-radius: 25px;
  padding: 0 15px;
  font-size: var(--caption-text);
  justify-content: start;
} */
/* 
.search-bar{

}

.search-bar:active, .search-bar:focus {
  width: calc(var(--regular-text) + 180px);
  border-radius: 25px;
  padding: 0 15px;
  font-size: var(--caption-text);
  justify-content: start;
} */

.search-bar-container{
    --search-collapsed-size: calc(var(--regular-text) + 15px);
    position:relative;
    background-color: var(--primary-color);
    color: var(--regular-text-color);
    border: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
    box-sizing: border-box;
    padding: 0 8px 0px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--caption-text);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.search-bar-container.is-collapsed{
    width: var(--search-collapsed-size);
    height: var(--search-collapsed-size);
    padding: 0;
}

.search-bar-container.is-expanded{
    width: auto;
    height: auto;
    padding-right: 8px;
}

.search-bar-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.search-bar-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--regular-text) + 15px);
    height: calc(var(--regular-text) + 15px);
    overflow: hidden;
    border-radius: 50%;
    color: var(--regular-text-color);
    font-size: var(--caption-text);
}

.search-bar-button:focus{
    outline: none;
}

.search-bar-input{
    display: none;
    opacity: 0;
}

.search-bar-container .input-label{
    display: none;
}

.search-bar-container .input-element{
    width: auto;
    min-width: calc(var(--regular-text) + 200px);
    max-width: 300px; 
    box-sizing: content-box;
    field-sizing: content;
}

.search-bar-input-container{
    position: relative;
}

.search-bar-input-container .input-element{
    padding-right: 28px;
}

.search-bar-clear{
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: var(--secondary-text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
}

.search-bar-clear:hover{
    background-color: rgba(var(--secondary-text-color-rgb), 0.15);
    color: var(--regular-text-color);
}

@media (max-width: 480px) {
    .search-bar-button, .search-bar-clear, .search-bar-input-container .input-element{
        font-size: calc(var(--regular-text) - 2px);
    }

    .search-bar-container{
        width: 100%;
        height: auto;
        padding-right: 8px;
    }

    .search-bar-container.is-collapsed{
        width: 100%;
        height: auto;
        padding: 0 8px 0px 2px;
    }

    .search-bar-container .input-element{
        width: 50vw;
        height: 35px;
        margin: 5px 0;
        /* width: calc(var(--regular-text) + 250px); */
        /* max-width: none; */
    }
}

