.options-menu-view{
    padding-top: 5px;
    border-top: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
}

.options-menu-view .options-menu-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: start;
    height: calc(var(--regular-text) + 10px);
    width: calc(var(--regular-text) + 170px);
    padding: 0;
}

/* Submenu simple (abre a la izquierda) */
.options-menu-item{
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    padding: 0px 10px;
}

.options-menu-item:hover{
    background-color: rgba(var(--secondary-text-color-rgb), 0.1);
}

.options-submenu{
    position: absolute;
    right: 100%;
    top: 0;
    display: none;
    width: auto;
    height: auto;
    padding: 5px 5px;
    border-radius: 10px;
    border: 1px solid rgba(var(--secondary-text-color-rgb), 0.35);
    background-color: rgba(var(--background-color-rgb), 0.98);
}

.options-submenu-item{
    display: flex;
    align-items: center;
    font-size: calc(var(--caption-text) - 1px);
    width: auto;
    min-width: calc(var(--caption-text) + 70px);
    color: var(--regular-text-color);
    padding: 5px 10px;
    display: flex;
    justify-content: start;
    gap: 5px;
    white-space: nowrap;
    border-radius: 15px;
    cursor: pointer;
}

.options-submenu-item.is-inactive{
    color: var(--secondary-text-color);
}

.options-submenu-check{
    flex: 0 0 auto;
}

.options-submenu-item-circle.is-visible{
    opacity: 1;
}

.options-submenu-item-circle.is-invisible{
    opacity: 0;
}

.options-submenu-check.is-visible{
    opacity: 1;
}  

.options-submenu-check.is-invisible{
    opacity: 0;
}

.options-submenu-item:hover{
    background-color: rgba(var(--secondary-text-color-rgb), 0.1);
}

.options-submenu-item-circle{
    font-size: calc(var(--caption-text) - 10px);
}

.options-menu-item.is-open .options-submenu{
    display: block;
}
