.signup-method-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 40px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.signup-method-container h2{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: calc(var(--heading-text) + 10px);
}

.signup-method-container .button {
    width: fit-content;
    min-width: 200px;
}

.signup-method-container .input-container{
    flex-direction: column;
    gap: 10px;
    width: 95%;
}

.signup-method-container .input-label{
    font-size: calc(var(--caption-text) + 0px);
    padding-left: 10px;
}

.signup-method-container .input-element{
    padding: 0px;
    font-size: calc(var(--regular-text) + 3px);
    height: calc(var(--regular-text) + 25px);
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
}

.signup-method-options-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.signup-any-method-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
}

.signup-any-method-container h3{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: calc(var(--heading-text) + 5px);
}

.signup-any-method-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}