.signup-method-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    align-items: center;
}

.signup-method-container h2{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: calc(var(--heading-text) + 10px);
}

.signup-method-container .button {
    width: fit-content;
    min-width: 200px;
}