@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Inter", sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --screen-height: 100dvh;
  --screen-width: 100dvw;

  --heading-text: 24px; /*20*/
  --regular-text: 20px; /*18*/
  --caption-text: 16px; /*14*/
  --font-family: "Inter", sans-serif;

  font-family: var(--font-family);
  font-size: var(--regular-text);
  height: 100dvh;
}

/* Modo claro (por defecto) */
:root,
:root.light {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --primary-color: #ffffff;
  --secondary-color: #f4f5f5;
  --regular-text-color: #3e3e3e;
  --secondary-text-color: #898989;
  --secondary-text-color-rgb: 137, 137, 137;
  --item-color: #FFFFFF;
}

/* Modo oscuro */
:root.dark {
  --background-color: #242424;
  --background-color-rgb: 36, 36, 36;
  --primary-color: #242424;
  --secondary-color: #2e2e2e; 
  --regular-text-color: #dbdbdb;
  --secondary-text-color: #9a9a9a;
  --secondary-text-color-rgb: 154, 154, 154;
  --item-color: #292929;
}

body {
  margin: 0;
  display: flex;

  /* min-width: 320px; */
  min-width: 100%;
  min-height: 100%;
  background-color: var(--background-color);
  color: var(--regular-text-color);
}

/* *{
  transition: background-color 0.3s ease, color 0.3s ease;
} */

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 820px) {
  :root {
    --heading-text: 20px; /*20*/
    --regular-text: 16px; /*18*/
    --caption-text: 12px; /*14*/
  }
}

@media (max-width: 480px) {
  :root {
    --heading-text: 20px; /*20*/
    --regular-text: 16px; /*18*/
    --caption-text: 12px; /*14*/
    
    --heading-text: calc(var(--screen-height) * 0.035);
    --regular-text: calc(var(--screen-height) * 0.025);
    --caption-text: calc(var(--screen-height) * 0.02);
  }
}