.client-layout {
  width: 100%;
  min-height: 100vh;
}

.main-content {
  padding-top: 20px; /* Altura del navbar fijo + margen */
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 90vh;
}

/* Para responsive futuro */
@media (max-width: 768px) {
  .main-content {
    padding-top: 75px;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding-top: 20px;
    padding-left: 4%;
    padding-right: 4%;
    height: 100vh;
  }
}
