.layout {
  width: 100%;
  min-height: 100vh;
}

.main-content {
  padding-top: 75px; /* Altura del navbar fijo + margen */
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Para responsive futuro */
@media (max-width: 768px) {
  .main-content {
    padding-top: 75px;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding-top: 140px;
    padding-left: 2%;
    padding-right: 2%;
  }
}
